.format_1{
    /*background-color:#a29bfe;*/
    background-image: url(img/book.jpg);
    background-position: center;
    background-size: 40%;
    color:#f5f6fa;
    font-weight: bold;
    font-size: 300px;
    text-align:left;
    /*border-radius: 15px;*/
}
.format_2{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.format_CW{
    text-align: left;
    font-size: 40PX;
}
.format_box_out{
    width: 375px;
    height: 375px;
    margin: 25px;
    background-color:#d1ccc0;
    padding: 25px 30px;
    display:inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    border-radius: 20px;
}
.format_box_in{
    width: 375px;
    height: 375px;
    background-color:#CAD3C8;
    border-radius: 25px;
    border: 1px solid #fff;
}
.format_title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color:#ffffff;
}
.format_content{
    font-weight: bold;
    font-size: 25px;
    text-align:left;
    margin: 25px;
}
.format_content_2{
    font-weight:lighter;
    font-size: 20px;
    text-align:center;
    margin: 25px;
}
.format_background_photo{
    width: 100%;
    height: 80vh;
    background-image:url(img/mountain.jpg);
    background-position: center;
    background-size: 35%;
}
.format_button{
    position:absolute;
    z-index: 2;
    left: 1490px;
    top: 395px;
    font-size: 30px;
}
#btn{
    border: 1px solid #ffffff;
    border-radius: 15px;
    font-size: 10px;
    padding: 3px 5px;
    color:white;
    background-color: #dfe4ea;
}
#btn:hover{
    background-color:black;
    opacity: 0.5;
    cursor: pointer;
}
input{
    background-color: #f1f2f6;
    border: 2px solid #ffffff;
}
input:focus{
    border:3px solid #f7f1e3;
    outline-width: 0px;
    background-color:#ffffff;
}
a{
    color:#dff9fb;
}
@media (max-width:1200px){
    .format_1{
        width: 100%;
        height: 38%;
        font-size:750%;
        background-size: 100%;
    }
    .format_2{
        width:100%;
    }
    .format_CW{
        font-size: 30%;
    }
}
@media (max-width:500px){
    .format_1{
        width: 100%;
        height: 18%;
        font-size:350%;
        background-size: 100%;
    }
    .format_2{
        width:100%;
    }
    .format_CW{
        font-size: 30%;
    }
}